body{
  width:100%;
}
.grad {
  background-image: linear-gradient(to bottom right, #4A16E9, #9133FF);
}
.fullscreen {
  width: 100%;
  height: 100%;
  margin: auto;
}
.light{
  color: white;
}
.center{
  text-align: center;
}
.contact{
  width: 100%;
  height: 50px;
  background-color: #9133FF;
  color: white;
  padding: 16px;
  font-size: 15px;
}
h0 {
  font-size: 60px;
}
h1 {
  text-align: center;
}
.fa{
  color: white;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
.fa:hover{
  color: gray;
  text-decoration: none;
}
.fa-1x{
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
}
.fa-3x{
  padding: 20px;
  font-size: 50px;
}
.floatBottom{
  width: 100%;
  position: absolute;
  bottom: 16px;
}
#bottomLink{
  color: white;
  font-size: 30px;
  text-decoration: none;
}
#bottomLink:hover{
  color: gray;
  text-decoration: none;
}
#AboutMe{
  background-color: #e9e9f1;
  padding: 16px;
  height: auto;
  width: 100%;
  display: flex;
}
.portrait{
  margin: 30px;
}
#aboutMeText{
  width: 100%;
  margin: auto;
  color: #13121c;
}
#cardDiv{
  margin: 0 auto;
  width: 70%;
}
.card{
  width: 20px;
  display: inline-block;
  margin: auto;
}